<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="layout">
    <aside class="sidebar">
        <h2>Admin</h2>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/item-master">Item Master</a>
        <a href="/admin/item-list">Item List</a>
        <a href="/admin/billing-summary">Billing Summary</a>
        <a href="/admin/all-orders">All Orders</a>
        <a href="/admin/logout">Logout</a>
    </aside>

    <main class="content">
        <h1>Item List</h1>

        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.category }}</td>
                    <td>₹{{ item.price }}</td>
                    <td>{{ item.stock_qty }}</td>
                    <td>{{ item.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</div>

</body>
</html>