{% extends "base.html" %}

{% block content %}

<section class="page-section">
    <div class="container">
        <h1 class="page-title">My Orders</h1>

        <div class="table-card">
            <table>
                <thead>
                    <tr>
                        <th>Order No</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Booking Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_no }}</td>
                        <td>₹{{ order.total_amount }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.booking_datetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}